:root {
    --primary-color: white;
    --secondary-color: black;
    --tertiary-color: #146b48;
    --invertValue: 0%;
    --transitionTime: 1s;
}

.dark-mode {
    --primary-color: black;
    --secondary-color: white;
    --tertiary-color: rgb(112, 204, 151);
    --invertValue: 100%;
    --transitionTime: 1s;
}

.dark-mode-no-transition {
    --primary-color: black;
    --secondary-color: white;
    --tertiary-color: rgb(112, 204, 151);
    --invertValue: 100%;
    --transitionTime: 0;
}

@font-face {
    font-family: 'GothamMedium';
    src: url("fonts/GothamMedium.ttf");
}
@font-face {
    font-family: 'GothamBook';
    src: url("fonts/GothamBook.ttf");
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    transition: background-color var(--transitionTime);
}

img {
    filter: invert(var(--invertValue));
    filter: invert(var(--invertValue));
    transition: filter var(--transitionTime);
    transition: transform .2s;
    width: 8vw;
}
a {
    width: 8vw;
    height: 8vw;
    margin: 1vw;
}

#iconDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
}

#introPart1 {
    font-size: 6vw;
    font-family: 'GothamMedium';
}

#hey {
    color: var(--tertiary-color);
    transition: color var(--transitionTime);
}

#introPart2 {
    font-size: 3vw;
    font-family: 'GothamBook';
    padding-top: 2vw;
}

#textDiv {
    padding-left: 6vw;
    padding-top:6vw;
    color: var(--secondary-color);
    transition: color var(--transitionTime);
}

.circle {
    height: 3vw;
    width: 3vw;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    transition: transform .2s;
    right: 1vw;
    bottom: 1vw;
    animation-duration: 2s;
}

.slideInFromBottom {
    animation-name: slideInFromBottom;
    animation-duration: 1.5s;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

.invisible {
    opacity: 0;
}

.circle:hover {
    transform: scale(1.25);
}

img:hover {
    transform: scale(1.25);
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(10vh)
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 100vh) {
    img {
        width: 8vh;
    }
    #introPart1 {
        font-size: 5vh;
    }
    #introPart2{
        font-size: 3.5vh;
        padding-top: 6vh;
    }
    #textDiv{
        padding-top: 8vh;
    }
    .circle {
        height: 7vh;
        width: 7vh;
        right: 2vh;
        bottom: 2vh;
    }
    a {
        width: 8vh;
    }
    #iconDiv {
        margin-top: 30vh;
    }
}